:root {
    /* variables */
    --color-fondo: #fff;
    --color-primario: #404040;
    --color-secundario: #f0f0f0;
    --color-relevante: #d9d9d9;
    --color-texto-selector-menu: #fff;
    --color-texto-experiencia: #cb5709;
    --color-texto: #000;
    --color-texto-fondo: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Boton de modo oscuro estilos */

/* Estilos generales del botón */
#toggleModeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-primario); /* Ajusta el color del icono */
    transition: color 0.3s ease;
  }

#toggleModeButton .material-symbols-outlined {
    font-size: 16px;
    padding: 0px 10px;
}
  
body {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 70px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

main {
    padding: 20px;
}

.logo {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
    letter-spacing: 0.1rem;
    border-bottom: 8px solid var(--color-primario);
    padding-bottom: 5px;
}

.texto-perfil h2 {
    border-bottom: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    max-width: 900px;
    width: 100%;
    /* left: 0; */
    top: 0;
    background-color: var(--color-fondo);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
    z-index: 100;
}

nav {
    align-content: center;
}

header nav ul li:hover {
    font-weight: bold;
}

header nav ul, 
.container-habilidades ul,
#menu-complementaria ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li {
    color: var(--color-primario);
}

header nav ul li, #menu-complementaria ul li {
    padding: 0px 10px;
    cursor: pointer;
}


#perfil {
    padding: 20px;
}

.container-perfil {
    display: flex;
}

.foto-perfil {
    width: 150px;
    border-radius: 50%;
}

.texto-perfil {
    padding: 20px;
    margin-left: 20px;
}

.titulo-experiencia h3 {
    text-transform: uppercase;
    color: var(--color-texto-experiencia);
}

.experiencia-profesional.relevante h3 {
    color: var(--color-texto);
}

.experiencia-relevancia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experiencia-relevancia  h4 {
    padding-left: 8px;
    border-left: 15px solid var(--color-relevante);
}


.titulo-experiencia {
    display: flex;
    justify-content: space-between;
}

.experiencia-profesional {
    padding: 20px 30px;
}

.experiencia-profesional.relevante {
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.experiencia-profesional.relevante ul {
    display: block;
}

.experiencia-profesional ul {
    margin-left: 15px;
    margin-top: 15px;
}

.relevante, .experiencia-profesional.relevante:hover {
    background-color: var(--color-relevante);
    border-radius: 15px;
}

.experiencia-profesional:hover {
    background-color: var(--color-secundario);
    border-radius: 15px;
    
}

.experiencia-profesional:hover {
    cursor: pointer;
}

#menu-complementaria {
    margin-bottom: 20px;
}

#complementaria h2 {
    margin-top: 20px;
    border-bottom: 0px;
}

.container-complementaria {
    display: flex;
    flex-wrap: wrap;
}

/* #complementaria h2 {
    display: inline-block;
} */


.estudio-complementario {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid var(--color-primario);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.container-complementaria a, nav ul a {
    text-decoration: none;
    color: var(--color-primario);
}

#menu-complementaria ul li {
    padding: 5px 20px;
    /* color: #000; */
    margin-right: 10px;
    border-radius: 16px;
    margin-bottom: 10px;
}

.selector-menu {
    color: var(--color-texto-selector-menu);
    background-color: var(--color-primario);
    font-weight: bold;
}

.no-selector-menu {
    background-color: var(--color-secundario);
}



.container-habilidades ul li {
    padding: 10px 20px;
    background-color: var(--color-primario);
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--color-texto-fondo);
    font-weight: bold;
}

.container-habilidades h2 {
    border-bottom: 0px;
    margin-top: 20px;
}

.experiencia-profesional ul {
    display: none;
}


footer {
    text-align: center;
    padding: 20px;
}

/* ******************* */
/* estilos de contacto */
/* ******************* */

.container-contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-contacto h2 {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 0px;
}

.container-info {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.container-info span {
    font-size: 45px;
    padding: 15px;
    color: var(--color-texto-experiencia);
}

.container-info div {
    padding: 20px 0px;
}

.container-info div h3 {
    font-size: 20px;
}

.container-info div p {
    font-size: 16px;
}

@media only screen and (max-width: 872px){
    .container-perfil {
      display: block;
      text-align: center;
    }

    .texto-perfil {
        margin-left: 0px;
    }

    .container-contacto {
        margin-top: 0px;
    }
    /* .container-info {
        width: 46%;
    } */

}

@media only screen and (max-width: 680px){
    header {
        display: block;
        text-align: center;
    }
    body {
        top: 100px;
    }
    header nav ul {
        margin-top: 10px;
        justify-content: center;
    }
    .titulo-experiencia {
      display: block;
    }
    .estudio-complementario h4 {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    h2 {
        font-size: 1.3rem;
    }

    .texto-perfil {
        padding: 20px 0px;
    }

}


@media only screen and (max-width: 400px){
    header nav ul a, #toggleModeButton {
        margin-bottom: 10px;
    }

}



/* Media de contacto */

@media only screen and (max-width: 570px){
    /* .container-contacto {
        display: block;
    } */
    /* .container-info {
        width: 100%;
    } */
    .container-info div h3 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 480px){
    .container-contacto {
        margin-left: 20px;
    }
    /* .container-info {
        width: 100%;
    } */

}